 <!--  
<div class="container"> 
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="text-center">
                  <h1>login</h1>
                  <h6>please enter username & password</h6>
              </div>
<form (ngSubmit)="login()">
  <div class="form-group">
    <label>
      Username:
      <input type="text" name="username" [(ngModel)]="username">
    </label>
  </div>
  <div class="form-group">
    <label>
      Password:
      <input type="password" name="password" [(ngModel)]="password">
    </label>
  </div>
  <button type="submit" class="btn" (click)="login()">Login</button>
  </form>
</div>
</div>
</div>
</div>  <div class="bg-image"></div>

 <router-outlet></router-outlet>

 -->