/* body{ 
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#ff6347;   
    height: 100vh;
}

button:hover{
    opacity: 0.7;
}
.container {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    padding-bottom:200px;
    position: relative;
    top: 30%;
    left: 30%;
    width: 400px;
    height: 30vh;
    background: #7CFC00;
}
.center{
    color: #008080;
}
input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid rgb(0, 28, 128);   
    box-sizing: border-box;   
}  
*/