  
<!--  --
<app-header  class="header"></app-header>
<div style="padding:20px">
  <button (click)="navigateToA()">component A</button>
</div>
<div style="padding:20px">
  <button (click)="navigateToB()">component B</button>
</div>
 -->
<!--  
<app-footer class="footer"></app-footer>
-->
<!-- <router-outlet></router-outlet> -->

<!--  
<app-header  class="header"></app-header>

<p class ="custom"  appChangeColor style="padding-top: 200px;">here is one for directive</p>
<p appChangeColor >radha</p>
<p appChangeColor >radhakrishna</p>

<p>second line</p>
<h1 appChangeColor>This is barsana </h1>
<app-footer class="footer"></app-footer>

<div *ngIf="isTrue">
vrindhavan is the most beautiful place to visit 
</div>
<div  *ngFor="Let day of days">
  {{days}}
  </div>
  -->
  <!-- <div class="padding-top:200px">
  <div>
  <div style="padding-top:200px">
    <label style="padding-top:200px">email</label>
    <input style="margin-top: 20px;" type="text" [(ngModel)]="fromVar">
  </div>

    <div>
      <label>password</label>
      <input type="text" [(ngModel)]="toVar">
    </div>

    <button type="button" (click)="callFn($event)">submit</button>
  </div>
</div>
 -->
      <!-- 
 <form [formGroup]="sampleForm"> <div> <label>user name</label> 
  <input type="text" formControlName="usernameControl"> </div>
<div>
  <label>password</label>
  <input type="password" formControlName="passwordControl">
  </div>
</form>
 -->

 <div class="bg-image"></div>
 <router-outlet></router-outlet>

