<!-- <div class="container">  
  <div class="row">
      <div class="col-md-6">
          <div class="card">
            <div class="employee">

              <div class="text-center">
                  <h1>EMPLOYEE DETAILS</h1>
                  <h6>please enter employee details</h6>
              </div>
<form (ngSubmit)="addEmployee(id, name, email, phone, salary); id=''; name=''; email=''; phone=''; salary='';">
  <div class="form-group">
    <label for="id">ID</label><br>
    <input type="string" class="form-control" id="id" [(ngModel)]="id" name="id"   placeholder="Enter employee ID" required>
  </div><br>
  <div class="form-group">
    <label for="name">Name</label><br>
    <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name"  placeholder="Enter employee name" required>
  </div><br>
  <div class="form-group">
    <label for="email">Email</label><br>
    <input type="text" class="form-control" id="email" [(ngModel)]="email" name="email"  placeholder="Enter employee email" required>
  </div><br>
  <div class="form-group">
    <label for="phone">Phone</label><br>
    <input type="text" class="form-control" id="phone" [(ngModel)]="phone" name="phone"  placeholder="Enter employee phoneNumber" required>
  </div><br>
  <div class="form-group">
    <label for="salary">Salary</label><br>
    <input type="string" class="form-control" id="salary" [(ngModel)]="salary" name="salary"  placeholder="Enter employee salary" required>
  </div><br>
  <button type="submit" class="btn">Add Employee</button>
</form>
</div>
</div>
      </div>
</div>
</div> 