 .card{ 
    width:500px;
    height: 700px;
    padding: 25px;
   background-color: rgba(259, 259, 259, 0.5);
background: linear-gradient(90deg);
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    z-index: 1;
}

.card label-h1,
h6{
  color: rgb(115, 70, 119);
}
label{
  color: rgb(11, 28, 54);
}
h1{
  font-family: serif;
  color: teal;
}
.btn
 { border-radius: 12px;
 background-color: #4CAF50;/* Green */
border-color: aliceblue;
}
.employee { 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  } 
  input[type=text],input[type=string] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid rgb(0, 28, 128);   
    box-sizing: border-box;   
}  
  