               <html lang="en">
                        <head>
                          <meta charset="UTF-8">
                          <meta http-equiv="X-UA-Compatiable"
                          content="IE=edge">
                          <meta name="viewport"
                          content="width=device-width,initial-scale=1.0">
                          <title> Employee Details </title>
                          
                        </head>
                                  <body>
                                    <header class="header">
                                      <nav class="navbar">
                                        <a href="#">HOME</a>
                                        <a href="#">About</a>
                                        <a href="#">Services</a>
                                        <a href="#">Contact</a>
                                        <div class="logo">

                                        <a>
                              
                                          <img src="https://firebase.google.com/downloads/brand-guidelines/SVG/logo-logomark.svg" alt="Firebase 
                                          icon" ><h1>Hike</h1></a>  </div>

                                      </nav>
                                      <!-- <form action="#" class="search-bar">
                                        <input type="text" placeholder="search....">
                                        <button type="submit"><i class='bx bx-search'></i></button>
                                      </form> -->
                                      <form method="get" action="/search">
                                        <label for="search-input">Search:</label>
                                        <input type="text" id="search-input" name="q" placeholder="Type your query here">
                                        <button type="submit">Search</button>
                                      </form>
                                      
                                     <button (click)="goToEmployeeCreation()">Create Employee</button>

                                    </header>
                                    <div class="container">
                                    <div class="content">

                                      <div>
                                        <h2>HAPPY TEAM!<br><span>PEOPLE PARTNERSHIP POSSIBILITIES </span> </h2>
                                      </div>
                                    </div>
                                  </div>
                                   
                                    <div class="logreg-box"></div>

                                  </body></html>

                     
                                  <button class="btn3" (click)="goToEmployeeCreation()">Create Employee</button>



<button routerLink="/login" class="btn1 ">logout</button>


<router-outlet></router-outlet>
